@charset "UTF-8";
/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */
/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */
/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */
/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */
/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  background-image: linear-gradient(to right top, #f9f9f9, #f6f4f7, #f5eff3, #f5eaed, #f4e5e5);
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: black;
  font-family: "Lora", serif;
  text-align: center;
  font-size: 3.5em;
}

h2 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
}

h3 {
  font-size: 2em;
  font-family: "Lora", serif;
}

h5 {
  color: white;
  font-size: 3.5em;
}

h6 {
  font-size: 2.5em;
}

.contenedor-imagen {
  height: 100vh;
}
.contenedor-imagen img {
  width: 100%;
  height: 70%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 bottom;
     object-position: 0 bottom;
}

.galeriaim {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.galeriaim img {
  border-radius: 5%;
  opacity: 0.5;
}
.galeriaim img:hover {
  opacity: 1;
}

.wrap {
  font-family: "Open Sans";
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(../assets/imagenes/高解像度！無料でダウンロードできる黒板画像の背景素材いろいろ（JPG・PNG・PDF・PAT）.jfif);
  background-repeat: repeat;
  background-position: right;
  background-attachment: scroll;
  text-align: center;
  opacity: 0.9;
  color: white;
}

hr {
  background-color: white;
  height: 3px;
}

main {
  min-height: 100vh;
}
main .contenido p {
  margin-bottom: 20px;
  line-height: 30px;
  color: #525151;
}
main .contenido .titulo {
  font-family: "Open Sans";
  font-weight: normal;
  padding-top: 40px;
}
main .contenido .fecha {
  font-size: 14px;
  color: #B5B5B5;
}

.ramen {
  width: 90%;
  max-width: 1000px;
  background: #fff;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  background-image: url(../assets/imagenes/On\ the\ Wok.png);
}

.formulario {
  background-color: white;
  border-radius: 8px;
  padding: 3rem;
  margin-bottom: 1rem;
  width: auto;
  height: auto;
  max-width: 1000px;
  max-height: 1000px;
  border: black solid 3px;
  border-radius: 20px;
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.mapa {
  border-radius: 5px;
  position: absolute;
  top: 45%;
  left: 50%;
  border: black solid 3px;
}

aside {
  min-width: 30%;
  margin: 40px 20px 20px 0;
  height: 100%;
  background: #1D2F3D;
  padding: 20px;
  border-radius: 3px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
aside .titulo {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 20px;
  color: #f2f2f2;
}
aside .indice a {
  display: block;
  margin-bottom: 10px;
  color: yellow;
}

@media screen and (max-width: 900px) {
  .contenedor-imagen {
    height: 50vh;
  }
  main .contenedor {
    flex-direction: column;
  }
  aside {
    position: static;
  }
}/*# sourceMappingURL=style.css.map */

/* * ============================== */
/* * ====== NUESTRO LABURO ========= */
/* * ============================== */

main .sobre-nosotros{
  padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly;
  
  
}

.imagen-cocinero{
width: 150px;
  height: 150px;
  top: 90%;
  left: 10%;
 
 

}

.sobre-nosotros .contenido-textos{
  width: 45%;

}

.contenido-textos h3{
  margin-bottom: 30px;

}

.contenido-textos h3 span{
  background: #AC6664;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
  
}

.contenido-textos p{
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}
/* * ============================== */
/* * ====== portafolio ========= */
/* * ============================== */

.portafolio{
  background: #f2f2f2;
  text-align: center;
  
  
}
.trabajos {
  font-size: 40px;
   
}
.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
padding: 80px;
  
}

  

.imagen-port{
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background:  rgba(209, 165, 70, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.hover-galeria img{
  width: 50px;
  
}

.hover-galeria p{
  color: #fff;
  
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}
/* * ============================== */
/* * ====== RESEÑAS ========= */
/* * ============================== */
/* Clients */

.cards{
  display: flex;
  justify-content: space-evenly;
}

.cards .card{
  background: #AC6664;
  display: flex;
  width: 46%;
  height: 250px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card > .contenido-texto-card{
  width: 60%;
  color: #fff;
}

.cards .card > .contenido-texto-card p{
  font-weight: 300;
  padding-top: 5px;
}
.imgf {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 140%;
  left: 50%;
  
  
 
}
.asianfood {
  background-color: #AC6664;
  
  
  
}
.contenido-textos {
  font-size:small;
  font-family:"Lora", serif;
}