$color_1: black;
$color_2: white;
$color_3: #525151;
$color_4: #B5B5B5;
$color_5: #f2f2f2;
$color_6: yellow;
$font-family_1: 'Lora', serif;
$font-family_2: 'Open Sans';
$background-color_1: white;

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */
/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */
/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */
/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */
/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-family_1;
	background-image: linear-gradient(to right top, #f9f9f9, #f6f4f7, #f5eff3, #f5eaed, #f4e5e5);
}
.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
h1 {
	color: $color_1;
	font-family: $font-family_1;
	text-align: center;
	font-size: 3.5em;
}
h2 {
	color: $color_1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-family_2;
}
h3 {
	font-size: 2em;
	font-family: $font-family_1;
}
h5 {
	color: $color_2;
	font-size: 3.5em;
}
h6 {
	font-size: 2.5em;
}
.contenedor-imagen {
	height: 100vh;
	img {
		width: 100%;
		height: 70%;
		vertical-align: top;
		object-fit: cover;
		object-position: 0 bottom;
	}
}
.galeriaim {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	img {
		border-radius: 5%;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}
.wrap {
	font-family: $font-family_2;
	max-width: 1200px;
	margin: 0 auto;
	background-image: url(../assets/imagenes/高解像度！無料でダウンロードできる黒板画像の背景素材いろいろ（JPG・PNG・PDF・PAT）.jfif);
	background-repeat: repeat;
	background-position: right;
	background-attachment: scroll;
	text-align: center;
	opacity: 0.9;
	color: $color_2;
}
hr {
	background-color: $background-color_1;
	height: 3px;
}
main {
	min-height: 100vh;
	.contenido {
		p {
			margin-bottom: 20px;
			line-height: 30px;
			color: $color_3;
		}
		.titulo {
			font-family: $font-family_2;
			font-weight: normal;
			padding-top: 40px;
		}
		.fecha {
			font-size: 14px;
			color: $color_4;
		}
	}
}
.ramen {
	width: 90%;
	max-width: 1000px;
	background: #fff;
	padding: 40px;
	margin: 20px auto;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	background-image: url(../assets/imagenes/On\ the\ Wok.png);
}
.formulario {
	background-color: $background-color_1;
	border-radius: 8px;
	padding: 3rem;
	margin-bottom: 1rem;
	width: auto;
	height: auto;
	max-width: 1000px;
	max-height: 1000px;
	border: black solid 3px;
	border-radius: 20px;
	position: absolute;
	top: 70%;
	left: 30%;
	transform: translate(-50%,-50%);
}
.mapa {
	border-radius: 5px;
	position: absolute;
	top: 45%;
	left: 50%;
	border: black solid 3px;
}
aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: #1D2F3D;
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top: 20px;
	.titulo {
		font-family: $font-family_2;
		font-weight: normal;
		font-size: 25px;
		margin-bottom: 20px;
		color: $color_5;
	}
	.indice {
		a {
			display: block;
			margin-bottom: 10px;
			color: $color_6;
		}
	}
}
@media screen and (max-width: 900px) {
	.contenedor-imagen {
		height: 50vh;
	}
	main {
		.contenedor {
			flex-direction: column;
		}
	}
	aside {
		position: static;
	}
}