$color_1: black;
$color_2: white;
$color_3: #525151;
$color_4: #B5B5B5;
$color_5: #f2f2f2;
$color_6: yellow;
$font-family_1: 'Lora', serif;
$font-family_2: 'Open Sans';
$background-color_1: white;
$background-color: #AC6664;