.contenedor-imagen {
	height: 100vh;
}

.contenedor-imagen img {
	width: 100%;
	height: 70%;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 bottom;
}    
 

.galeriaim {
 display:flex;
flex-wrap:wrap;
gap: 10px;
justify-content: center;
}

.galeriaim img{
 border-radius: 5%;
 opacity: 0.5;
}
.galeriaim img:hover{
 opacity: 1;
}



.wrap {
	font-family: 'Open Sans';
	max-width: 1200px;
	margin: 0 auto;
	background-image: url(../assets/imagenes/高解像度！無料でダウンロードできる黒板画像の背景素材いろいろ（JPG・PNG・PDF・PAT）.jfif);
	background-repeat: repeat;
	background-position: right ;
	background-attachment: scroll;
	text-align: center;
	opacity: 0.9;
	color: white;
}
hr {
    background-color:white;
    height: 3px;
    
}
.imagen-cocinero{
	width: 150px;
	  height: 150px;
	  top: 90%;
	  left: 10%;
	 
	 
	
	}
.imgf {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	top: 140%;
	left: 50%;
	
	
   
  }